@font-face {
    font-family: "Avenir Next Cyr Medium";
    src: url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Avenir Next - Regular";
    src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
