* {
  outline: none;
}
html,
body {
  font-family: "Avenir Next - Regular";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next - Regular";
  font-size: 14px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}
a {
  cursor: pointer;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  align-items: center;
  box-sizing: border-box;
  z-index: 9999999;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-out;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.header .transparent_logo {
  display: none;
}
.header.transparent_head {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: none;
}
.header.transparent_head .header_logo {
  display: none;
}
.header.transparent_head .transparent_logo {
  display: block;
}
.header.transparent_head .header_list_item {
  color: #fff;
}
.header.transparent_head .header_info_tel {
  color: #fff;
  border-color: #fff;
}
.header.transparent_head .header_info_lang {
  color: #262626;
  background: #fff;
}
.header_menu {
  display: none;
}
.header_call {
  display: none;
  position: relative;
  z-index: 88;
}
.header_logo {
  width: 82px;
  position: relative;
  z-index: 88;
  cursor: pointer;
}
.header_list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2;
}
.header_list_item {
  color: #4a4440;
  font-family: "Avenir Next - Regular";
  font-size: 16px;
  font-weight: 400;
  margin: 0 19px;
}
.header_info {
  display: flex;
  position: relative;
  z-index: 88;
}
.header_info_tel {
  font-family: "Avenir Next Cyr Medium";
  font-size: 16px;
  font-weight: 500;
  /* Text style for "+48 796 53" */
  letter-spacing: 1px;
  border: 1px solid #decfb1;
  padding: 9px 17px;
  margin-right: 30px;
}
.header_info_lang {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px;
  border: 1px solid #decfb1;
  background-color: #decfb1;
}
section.main {
  min-height: 70vh;
  position: relative;
  background: url('../img/main_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  overflow: hidden;
}
section.main.about_bg {
  background: url('../img/about_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.main.about_bg .main_container .main_title {
  font-size: 60px;
}
section.main.about_bg .main_container .main_comes {
  font-size: 24px;
}
section.main .main_container {
  min-height: 70vh;
  height: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
section.main .main_container.flex_start {
  align-items: flex-start;
  padding-left: 10%;
}
section.main .main_container .main_comes {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: 30px;
  font-weight: 400;
  /* Text style for "Доброй пож" */
  letter-spacing: 3.33px;
  text-align: center;
  text-transform: uppercase;
}
section.main .main_container .main_title {
  color: #ffffff;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
section.main .main_container .main_text {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: 20px;
  font-weight: 400;
  max-width: 720px;
  text-align: center;
  margin-bottom: 43px;
}
section.main .main_container .main_buttons {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
section.main .main_container .main_buttons_item {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: 18px;
  font-weight: 500;
  width: 250px;
  padding: 14px;
  border: 2px solid #ffffff;
  display: block;
  text-align: center;
  transition: all 0.2s ease-out;
}
section.main .main_container .main_buttons_item:hover {
  background-color: #decfb1;
  color: #fff;
  border-color: transparent;
}
.menu_container {
  position: fixed;
  z-index: 999;
  top: 69px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
  padding: 15px;
  box-sizing: border-box;
  transform: translateY(-100%);
}
.menu_container.active {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.menu_container_box {
  display: flex;
  flex-direction: column;
  padding: 10vh 0;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: space-around;
}
.menu_container_link {
  color: #4a4440;
  font-family: "Avenir Next Cyr Medium";
  font-size: 24px;
  font-weight: 500;
}
.menu_container_lang {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px;
  display: block;
  text-align: center;
  border: 1px solid #decfb1;
  background-color: #decfb1;
  width: 100%;
  max-width: 400px;
}
section.first {
  padding: 100px 0;
}
section.first .first_container {
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  justify-content: space-between;
}
section.first .first_container_images {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
section.first .first_container_images_absolute {
  position: absolute;
  left: 0;
  bottom: -30%;
}
section.first .first_container_text {
  width: 30%;
}
section.first .first_container_text_title {
  color: #4a4440;
  font-size: 40px;
  font-weight: 600;
  font-family: "Avenir Next Cyr Medium";
}
section.first .first_container_text_desc {
  color: #4a4440;
  font-family: "Avenir Next - Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 56px;
}
section.second {
  padding: 100px 0;
  padding-top: 0;
}
section.second .second_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.second .second_container_images {
  width: 55%;
  position: relative;
}
section.second .second_container_images_item {
  width: 100%;
}
section.second .second_container_images_absolute {
  position: absolute;
  left: 0;
  bottom: -30%;
}
section.second .second_container_text {
  width: 38%;
}
section.second .second_container_text_title {
  color: #4a4440;
  font-size: 30px;
  font-weight: 600;
  font-family: "Avenir Next Cyr Medium";
}
section.memories {
  padding: 80px 0;
}
section.memories .wrapper .memories_title {
  color: #4a4440;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 33px;
}
section.memories .wrapper .memories_slider {
  position: relative;
  z-index: 1;
}
section.memories .wrapper .memories_slider .slide .box {
  width: 100%;
  height: 600px;
}
section.memories .wrapper .memories_slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
section.memories .wrapper .memories_slider .arrow:hover {
  opacity: 1;
}
section.memories .wrapper .memories_slider .arrow.left {
  left: 30px;
}
section.memories .wrapper .memories_slider .arrow.right {
  right: 30px;
  transform: translateY(-50%) rotate(180deg);
}
footer.footer .wrapper .footer_logo {
  width: 164px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
footer.footer .wrapper .footer_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
footer.footer .wrapper .footer_box {
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
}
footer.footer .wrapper .footer_box_title {
  color: #4a4440;
  font-family: "Avenir Next Cyr Medium";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}
footer.footer .wrapper .footer_box_text {
  color: #4a4440;
  font-family: "Avenir Next - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
footer.footer .wrapper .footer_copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #4a444080;
}
footer.footer .wrapper .footer_copyright_text {
  color: #4a4440;
  font-family: "Avenir Next - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
section.roots {
  padding: 100px 0;
}
section.roots .wrapper .roots_title {
  color: #4a4440;
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 38px;
}
section.roots .wrapper .roots_container {
  display: flex;
  flex-direction: row;
}
section.roots .wrapper .roots_container_box {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
}
section.roots .wrapper .roots_container_box_text {
  color: #4a4440;
  font-family: "Avenir Next - Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
section.contacts {
  padding: 80px 0;
}
section.contacts .wrapper .contacts_container {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
section.contacts .wrapper .contacts_container_box_title {
  color: #4a4440;
  font-family: "Avenir Next Cyr Medium";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}
section.contacts .wrapper .contacts_container_box_desc {
  color: #4a4440;
  font-family: "Avenir Next - Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
section.map {
  margin-bottom: 150px;
}
section.map .wrapper iframe {
  width: 100%;
  height: 400px;
}
