// out: ../css/style.css

*{
    outline: none;
}
html,
body {
//   font-family: Arial, Helvetica, sans-serif;
font-family: "Avenir Next - Regular";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
//   font-family: Arial, Helvetica, sans-serif;
font-family: "Avenir Next - Regular";
  font-size: 14px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}
a{
    cursor: pointer;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos]{
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 9999999;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    .transparent_logo{
        display: none;
    }
    &.transparent_head{
        background: transparent;
        // position: absolute;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: none;
        .header_logo{
            display: none;
        }
        .transparent_logo{
            display: block;
        }
        .header{
            &_list_item{
                color: #fff;
            }
            &_info{
                &_tel{
                    color: #fff;
                    border-color: #fff;
                }
                &_lang{
                    color: #262626;
                    background: #fff;
                }
            }
        }
    }
    &_menu{
        display: none;
    }
    &_call{
        display: none;
        position: relative;
        z-index: 88;
    }
    &_logo{
        width: 82px;
        position: relative;
        z-index: 88;
    }
    &_list{
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        justify-content: center;
        // padding-left: 120px;
        // padding-right: 250px;
        box-sizing: border-box;
        z-index: 2;
        // transform: translateX(150px);
        &_item{
            color: #4a4440;
            font-family: "Avenir Next - Regular";
            font-size: 16px;
            font-weight: 400;
            margin: 0 19px;
        }
    }
    &_info{
        display: flex;
        position: relative;
        z-index: 88;
        &_tel{
            font-family: "Avenir Next Cyr Medium";
            font-size: 16px;
            font-weight: 500;
            /* Text style for "+48 796 53" */
            letter-spacing: 1px;
            border: 1px solid #decfb1;
            padding: 9px 17px;
            margin-right: 30px;
        }
        &_lang{
            color: #ffffff;
            font-family: "Avenir Next - Regular";
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;  
            padding: 9px;
            border: 1px solid #decfb1;
            background-color: #decfb1;
        }
    }
}
section.main {
    min-height: 700px;
    position: relative;
    background: url('../img/main_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    overflow: hidden;
    &.about_bg{
        background: url('../img/about_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main_container{
        min-height: 700px;
        height: 100%;
        display: flex;
        padding: 0 30px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        box-sizing: border-box;
        &.flex_start{
            align-items: flex-start;
            padding-left: 10%;
        }
        .main{
            &_comes{
                color: #ffffff;
                font-family: "Avenir Next - Regular";
                font-size: 30px;
                font-weight: 400;
                /* Text style for "Доброй пож" */
                letter-spacing: 3.33px;
                text-align: center;
            }
            &_title{
                color: #ffffff;
                font-size: 80px;
                font-weight: 600;
                margin-bottom: 30px;
                text-align: center;
            }
            &_text{
                color: #ffffff;
                font-family: "Avenir Next - Regular";
                font-size: 20px;
                font-weight: 400;
                max-width: 720px;
                text-align: center;
                margin-bottom: 43px;
            }
            &_buttons{
                display: flex;
                max-width: 720px;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                &_item{
                    color: #ffffff;
                    font-family: "Avenir Next - Regular";
                    font-size: 18px;
                    font-weight: 500;
                    width: 250px;
                    padding: 14px;
                    border: 2px solid #ffffff;
                    display: block;
                    text-align: center;
                    transition: all 0.2s ease-out;
                    &:hover{
                        background-color: #decfb1;
                        color: #fff;
                        border-color: transparent;
                    }
                }
            }
        }
    }
}
.menu_container{
    position: fixed;
    z-index: 999;
    top: 69px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-out;
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(-100%);
    &.active{
        opacity: 1;
        visibility: visible;
        transform: none;
    }
    &_box{
        display: flex;
        flex-direction: column;
        padding: 10vh 0;
        align-items: center;
        text-align: center;
        height: 100%;
        justify-content: space-around;
    }
    &_link{
        color: #4a4440;
        font-family: "Avenir Next Cyr Medium";
        font-size: 24px;
        font-weight: 500;
    }
    &_lang{
        color: #ffffff;
        font-family: "Avenir Next - Regular";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 9px;
        display: block;
        text-align: center;
        border: 1px solid #decfb1;
        background-color: #decfb1;
        width: 100%;
        max-width: 400px;
    }
}

section.first{
    padding: 100px 0;
    .first{
        &_container{
            display: flex;
            align-items: center;
            padding-bottom: 200px;
            justify-content: space-between;
            &_images{
                width: 60%;
                position: relative;
                display: flex;
                justify-content: flex-end;
                &_item{
                    // max-width: 425px;
                }
                &_absolute{
                    position: absolute;
                    left: 0;
                    bottom: -30%;
                    // width: 425px;
                }
            }
            &_text{
                width: 30%;
                &_title{
                    color: #4a4440;
                    font-size: 40px;
                    font-weight: 600;
                    font-family: "Avenir Next Cyr Medium";
                }
                &_desc{
                    color: #4a4440;
                    font-family: "Avenir Next - Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    margin-top: 56px;
                }
            }
        }
    }
}
section.second{
    padding: 100px 0;
    padding-top: 0;
    .second{
        &_container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_images{
                width: 55%;
                position: relative;
                // display: flex;
                // justify-content: flex-end;
                &_item{
                    // max-width: 425px;
                    width: 100%;
                }
                &_absolute{
                    position: absolute;
                    left: 0;
                    bottom: -30%;
                    // width: 425px;
                }
            }
            &_text{
                width: 38%;
                &_title{
                    color: #4a4440;
                    font-size: 30px;
                    font-weight: 600;
                    font-family: "Avenir Next Cyr Medium";
                }
            }
        }
    }
}

section.memories{
    padding: 80px 0;
    .wrapper{
        .memories{
            &_title{
                color: #4a4440;
                font-size: 40px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 33px;
            }
            &_slider{
                position: relative;
                z-index: 1;
                .slide{
                    .box{
                        width: 100%;
                        height: 600px;
                    }
                }
                .arrow{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    background: #fff;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    opacity: 0.6;
                    transition: 0.3s;
                    &:hover{
                        opacity: 1;
                    }
                    &.left{
                        left: 30px;
                    }
                    &.right{
                        right: 30px;
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
        }
    }
}

footer.footer{
    .wrapper{
        .footer{
            &_logo{
                width: 164px;
                display: block;
                margin: 0 auto;
                margin-top: 15px;
            }
            &_container{
                // margin-top: 50px;
                display: flex;
                justify-content: space-between;
                padding: 50px 0;
                padding-bottom: 30px;
                flex-wrap: wrap;
            }
            &_box{
                display: flex;
                flex-direction: column;
                margin: 20px 5px;
                &_title{
                    color: #4a4440;
                    font-family: "Avenir Next Cyr Medium";
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 13px;
                }
                &_text{
                    color: #4a4440;
                    font-family: "Avenir Next - Regular";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
            &_copyright{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 15px 0;
                border-top: 1px solid #4a444080;
                &_text{
                    color: #4a4440;
                    font-family: "Avenir Next - Regular";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}